body {
  margin: 0;
  padding: 0;
  background: #4fd4e6;
  color: black;
  font-family: 'monospace', 'Courier New', Courier, monospace;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
